.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  .search-input {
    width: 300px;
    padding: 0.6rem;
    border: 2px solid #461d7c;
    border-radius: 8px 0 0 8px;
    outline: none;
    font-size: 1rem;
  }
  
  .search-input:focus {
    border-color: #fdd023;
  }
  
  .search-btn {
    background-color: #fdd023;
    border: none;
    border-radius: 0 8px 8px 0;
    padding: 0.6rem 1rem;
    font-weight: bold;
    color: #461d7c;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .search-btn:hover {
    background-color: #ffde59;
    transform: scale(1.05);
  }
  